aio-pika==9.0.4
aiormq==6.7.6
anyio==3.7.1
APScheduler==3.6.3
asyncer==0.0.1
click==8.1.6
dynaconf==3.1.9
exceptiongroup==1.1.2
fastapi==0.78.0
h11==0.14.0
idna==3.4
loguru==0.5.3
multidict==6.0.4
pamqp==3.2.1
pydantic==1.9.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
sniffio==1.3.0
starlette==0.19.1
typer==0.4.1
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
uvicorn==0.23.1
uvloop==0.16.0
yarl==1.9.2
